<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/vamshikrishna.v/IdeaProjects/ATB6XSeleniumLearning">
        <classes>
            <class name="org.example.Lab305">
                <methods>
                    <include name="testVWOLoginTitle"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>